:root{
    --branco: rgb(255, 255, 255);
    --cordefundo: rgb(0, 0, 0);
    --fundodesenha: beige;
    --fundodotexto: blue;
    --borda: rgb(255, 0, 0);
    --Quicksand:"Quicksand" , sans-serif;
    --QuicksandMono: "Quicksand Mono" , monospace;
}

*{
    font-size: 400;
}
body{
    color:var(--branco);
    background-color: var(--cordefundo);

}.titulo-principal{
    font-family: var(--Quicksand:);
}
.titulo-secundario{ font-family: var(--QuicksandMono);}

.conteudo-titulo{ text-align: center ;
    margin-top: 80px ;


}
.conteudo-senha{
    background-color: var(--fundodesenha);
    padding: 24px;
}